<mat-card class="example-card">
<!--  -->
  <mat-card-actions>  
      <h3> login with user:</h3>
      <img class="image" mat-card-image src="./assets/gif/slidebank+login.gif" alt="welcome gif">
      <mat-card-content>
        <mat-form-field class="example-container">
          <input  [(ngModel)] = "email" 
                  name = "email"
                  matInput placeholder="Email" >
        </mat-form-field>
        <p  class = "error" *ngIf = "code=='auth/invalid-email'">
          {{message}}   
        </p>
        <p  class = "error" *ngIf = "email==null">
          {{required}}   
        </p>
        <p  class = "error" *ngIf = "code=='auth/user-not-found'">
          {{message}}   
        </p>

      </mat-card-content>
  
    <mat-card-content>
      <mat-form-field class="example-container">
        <input [(ngModel)] = "password" name = "password" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
          <p  class = "error" *ngIf = "code=='auth/wrong-password'">
            {{message}}   
        </p>
        <p  class = "error" *ngIf = "password==null">
            {{required}}   
          </p>
      </mat-card-content> 
  
      <mat-card-actions class="signup-button">
          <button  mat-stroked-button color="primary" (click)="login()">Login</button>
        </mat-card-actions>
    </mat-card-actions>
  </mat-card>