
<div (mouseenter) = "showButton()"
(mouseleave) = "hideButton()">
<!--  -->
<mat-checkbox style="float: left;"
[(ngModel)]="checkboxFlag"
(change) = "checkChange()"><!--  -->
</mat-checkbox>
<span    style="margin-left: 20px;" >{{name}}  {{price}} </span>

<button *ngIf ="showTheButton&&!showOption"  mat-raised-button (click) = "deleteItemOption()">Click to delete </button>
<button *ngIf ="showOption"  mat-raised-button (click) = "canceDeleteItem()">Cancel </button>
<button *ngIf ="showOption"  mat-raised-button (click) = "deleteItem()">delete </button>




</div>