<mat-card class="example-card">
<div *ngIf="!(authService.user | async)">

<h3 style="text-align: center">Please login to see your list of items:
  <a routerLink = "/login">login</a>   <!--  קישור  -->

</h3>
</div>

<div *ngIf="authService.user | async">
  
      {{(authService.user | async)?.email}}, <!-- אם היוזר מחובר אז תציג לו את האימייל שלו -->
      <br>
      we glad you joined us!

</div>

</mat-card>