.example-card {
    max-width: 500px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top:35px;
    margin-left: 30%; 
    width:900px;
    background-color:  rgb(255, 255, 255);
  }